.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,h5,h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}



section {
    margin-top: 8rem;
    /* height: 100vh; */
}

section > h2, 
section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn__alt {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background: var(--color-bg);
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn__alt:hover {
    background: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-bg);
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Media Queries (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;

    }
}

/* Media Queries (Small DEVICES) */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
        
    }
}